.container {
    width: 80%;
    height: 500px;
    margin: 5em auto 0 auto;
    border: 1px solid #fff;
    border-radius: 20px;
    background: #505050;
    background: linear-gradient(90deg, #454545 0%, #383838 35%, #313131 100%);
}