@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: #1abc9c; font-family: 'Lato', sans-serif; text-transform: uppercase; letter-spacing: 1px;}

header {
    text-align: justify;
    height: 4em;
    padding: 2em 12em 0 12em;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

    h1 {
        float: left;
    }

    nav {
        float: right;
        vertical-align: middle;
        transform: translate(0, 50%);

        a {
            margin: 10px;
            color: #ffffff;
            text-decoration: none;
        }

        a:hover {

        }
    }
}



@media screen and (max-width: 720px){
    header {
        height: auto;
    }
    
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
    
}
