.top-bar {
    background: linear-gradient(145deg, rgba(255,204,52,1) 0%, rgba(255,130,0,1) 17%, rgba(233,53,122,1) 34%, rgba(123,54,195,1) 51%, rgba(140,83,211,1) 68%, rgba(115,111,227,1) 85%, rgba(77,183,250,1) 100%);
    height: 30px;
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 33%);
}