.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
    text-transform: uppercase;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    transition: all 1s ease !important;
    background-size: 400% auto !important;
    background-image: linear-gradient(135deg, rgba(255,204,52,1) 0%, rgba(255,130,0,1) 17%, rgba(233,53,122,1) 34%, rgba(123,54,195,1) 51%, rgba(140,83,211,1) 68%, rgba(115,111,227,1) 85%, rgba(77,183,250,1) 100%) !important;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;

    // margin-top: 400px // temporary
  }

  .input__file-button:hover {
    width: 100%;
    max-width: 290px;
    height: 60px;
    transition: all 1s ease !important;
    background-size: 400% auto !important;
    background-image: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0, 10px, 20px, rgba(0, 0, 0, 19%), 0, 6px, 6px, rgba(0, 0, 0, 23%) !important;
    background-position: right center !important;

    // margin-top: 400px // temporary
   }